<div class="flex items-center justify-between flex-col">
  <div
    *ngFor="let task of tasks"
    class="flex flex-row w-full items-center justify-between gap-2 m-1"
  >
    <app-checkbutton
      [task]="task"
      (checkChanged)="updateTaskCheckStatus(task, $event)"
    ></app-checkbutton>
    <app-tasklistitem [task]="task"></app-tasklistitem>
    <app-buttons
      class="w-4"
      (deleteClicked)="deleteTask(task)"
      (editClicked)="editTask(task, $event)"
    >
    </app-buttons>
  </div>
</div>
